<footer class="footer page-footer mt-5">
      <div class="container">
        <div class="row my-5">
          <div class="col-sm-4 text-center text-md-left">
            <p><%= link_to "Find our shop", find_shop_path %></p>
          </div><!-- end of column -->
          <div class="col-sm-4 text-center">
            <p class="footer-copyright"><small>&copy; 2020</small></p>
          </div><!-- end of column -->
          <div class="col-sm-4 text-center text-md-right">
            <p>Conditions</p>
          </div><!-- end of column -->
        </div><!-- end of .row -->
      </div><!-- end .footer.container -->
    </footer>