<h1>Yes ! You can pick up !</h1>
<br><br>
<div class="container">
  <div class="venues">
    <% @venues.each do |venue| %>
      <div class="venue">
        <h3>Name: <%= venue.name %></h3>
        <h3>Address: <%= venue.address %></h3>
      </div>
    <% end %>
  </div>
  <div class="map-container">
    <div id="map" style="height: 500px"></div>
  </div>
</div>


<%= javascript_pack_tag "leaflet/index" %>