
<h1>Cart</h1>
<br><br><br><br>
<% @cart.each do |listing| %>
  <ul class="list-group list-group-horizontal top-sm">
    <li class="list-group-item">
      <%= listing.title %>
    </li>
    <li class="list-group-item">
      <%= number_to_currency(listing.deposit / 100.0) %>
    </li>
  </ul>
<% end %>
<hr>
<%= link_to "Pay Now", "", id: "stripe", class:"btn btn-outline-success" %>
<%= javascript_pack_tag "stripe" %>