.listing{
  border: 1px solid;
}

.listings-link{
  color: burlywood;
  text-decoration: none;
  font-size: 20px;
}

.listings-link:hover{
  border-bottom: 1px solid powderblue;
}

.background{
  width:200px;
  height:200px;
}