@import "navbar";

.listing{
  border: 1px solid;
}

.listings-link{
  color: burlywood;
  text-decoration: none;
  font-size: 20px;
}

.listings-link:hover{
  border-bottom: 1px solid powderblue;
}

.background{
  width:200px;
  height:200px;
}

.backup-image {
  background: url(image-path("first.png"));
  height: 100%;
  background-size: cover;
  background-position: left;
}

// navbar

#listings-container {
  .row {
    margin-bottom: 1rem;
  }
}


.imagesize{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;

}